body {
    /* background-color: rgb(9, 185, 156); */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* navber style */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}


/* Footer style */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.fa-brands{
    padding-right: .5rem;
    font-size: 1.5rem;
}

.f-info-socials{
    width: 100%;
    height: 7/3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.f-info-links{
    width: 100%;
    height: 7/3rem;
    padding-top: 0.5rem;
}


.f-info{
    height: 7rem;
    background-color: antiquewhite;
    /* display: flex; */
    text-align: center;
    justify-content:center;
}

/* card style */
.card-ip {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover;
}

.card-body{
    padding: 0px !important;
}

.listing-link{
    text-decoration: none;
}

/* Card effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: .2;
    background-color: white;
}

/* new page */
.add-btn{
    background-color: rgb(148, 47, 47) !important;
    border: none;
}

/* Edit page */
.edit-btn{
    background-color: rgb(148, 47, 47) !important;
    width: 80px;
    border: none;
}

.edit-btn a {
    color: white !important;
}

/* show page */
.show-img {
    height: 33vh;
}

.btns{
    display: flex;
}

.btns a{
    text-decoration: none;
}

.btn-space {
    margin-left: 20px !important;
}

/* // edit */
.image-size {
    width: 70%;
    height: 300px;
    border-radius: 5%;
}



/* map */
#map {
    height: 300px;
    width: 80%;
    /* position: absolute; top: 0; bottom: 0; width: 100%; */
}

